<div class="first-section">
    <a href="../">
        <i class="fa fa-arrow-left mr-2 back-arrow"  aria-hidden="true"></i>
    </a>
    <div class="header">
        <h2>9 Granados</h2>
    </div>
</div>
    <% @menus.each do |menu| %>
            <%= link_to menu_path(menu) do%>
        <div class="menu">
                <div class='menu-card' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path menu.photo.key if menu.photo.attached? %>')">
                        <h5><%= menu.name %></h5>
                </div>
        </div>
            <% end %>
    <% end %>



