<div class="first-section sticky">
    <a href="../menus">
        <i class="fa fa-arrow-left mr-2 back-arrow"  aria-hidden="true"></i>
    </a>
    <div class="header">
        <h2>9 Granados</h2>
    </div>
</div>

<%# Original code for this page is in aperitive_show file%>

<h5 style="padding: 250px 20px"><%= t('home.hello') %></h5>
