<div class="first-section">
    <a href="../menus">
        <i class="fa fa-arrow-left mr-2 back-arrow"  aria-hidden="true"></i>
    </a>
    <div class="header">
        <h2>9 Granados</h2>
        <h5>Restaurante</h5>
    </div>
</div>
<!--   MENU'S NAME ONLY ON FIXED_MENU TYPE
<div class="main-container">s
    <h4 style="text-align:center"class="mt-2"><%#= @menu.name %></h4>
</div>
-->
<div class="background-show">
  <div class="navbar navbar-expand-sm navbar-light navbar-meals">
  </div>
</div>