<div class="first-section sticky">
    <a href="../menus">
        <i class="fa fa-arrow-left mr-2 back-arrow"  aria-hidden="true"></i>
    </a>
    <div class="header">
        <h2>9 Granados</h2>
    </div>
</div>
<% if @menu.menu_type == true %>
    <%= render "shared/menushow" %>
<% elsif @menu.drink_type == true  %>
    <%= render "shared/carta_drinks_show" %>
<% else %>
    <%= render "shared/cartashow" %>
<% end %>
