// Specific CSS for your home-page
.main-container {
    margin: 20px;
}



body {
    padding:0px !important;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}