// Specific CSS for your home-page
.main-container {
    margin: 30px;
}



body {
    padding:0px !important;
    background-color: white;
}

.banner {
    background-image: url("https://res.cloudinary.com/dfyhqslry/image/upload/v1594164979/Nou%20granados/Background/background_1_dbzmiz.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: contain;
    margin-bottom: 20px;
}