// .name-price {
//     display:flex;
//     padding-top: 20px;
//     justify-content: space-evenly;
//     align-items: center;
// }

.menu-style {
    padding: 10px 10px;

    h2{
        color: rgb(220, 220, 220);
    }

    h3{
        color: rgb(220, 220, 220);
        text-align: center;    }

    h4 {
        color: rgb(220, 220, 220);

    }

    h5 {
        color: rgb(220, 220, 220);
    }

    h6 {
        color: rgb(220, 220, 220);
        font-weight: 600;
        font-size: 17px;
    }

    p {
        color: rgb(220, 220, 220);
        font-style: italic;
    }

    .separate {
        margin: 10px 0 10px 0;
    }
}

.menu-price {
    background-color: #649274;
    height: 80px;
    justify-content: space-evenly;
    width: 100px;
    border-radius:50%;
    display:flex;
    align-items:center;
}

.price-position {
    display:flex;
    align-items: flex-end;
    // justify-content: space-around;
}
