.carta-back {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    margin-bottom: 95px;
    margin-top: 65px;
}

.white-arrow {
    color:white;
    position: absolute;
    vertical-align: auto;
    font-size: 20px;
    top: 10px;
    left: 10px;
}

.background-show {
    background-image: url("https://res.cloudinary.com/dfyhqslry/image/upload/v1594390930/Nou%20granados/Alimentos%20y%20bebidas/photo-1572913017567-02f0649bc4fd_rjdlxc.jpg");
    // background-size: cover;
    object-fit: cover;
    height: 1200x;
    padding: 10px;
    // padding-bottom: 75px;
}

.name-price-carta {

    h5{
        color: rgb(220, 220, 220);
        font-weight: 600;
    }

    p{
        color: rgb(220, 220, 220);
        font-style: italic;
        margin-block-end: 3px;
    }

    h6 {
        color: rgb(220, 220, 220);
    }
}

.separate {
    border-bottom: solid rgb(105, 105, 105) 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 20;
}

.price {
    text-align: right;
}

.meal-card {
    // border-bottom: solid rgb(105, 105, 105) 2px;
    padding: 10px 20px;
}