.carta-back {
    height: 450px;
    background-color: rgba(0, 0, 0, 0.678);
}

.background-show {
    background-image: url("https://res.cloudinary.com/dfyhqslry/image/upload/v1594390930/Nou%20granados/Alimentos%20y%20bebidas/photo-1572913017567-02f0649bc4fd_rjdlxc.jpg");
    background-size: cover;
    object-fit: cover;
    height: 555px;
    padding: 10px;
}