    <div class="flag-container">
        <div class="flag-box">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146282/Nou%20granados/Flags/catalonia_rvcrss.png" alt="">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/Spain_yx31ax.png" alt="">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/England_cnldoa.png" alt="">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/France_nf8v8a.png" alt="">
        </div>
    </div>