<div class="background-show">
    <div class="carta-back">
        <div class="menu-style">
            <div class="price-position">
                <h2><%= @menu.name %></h2>
                <h5 class="menu-price"><%= @menu.price%>€</h5>
            </div>
            <div class="separate">
            </div>
            <h4>Entrante a elegir</h4>
            <p>- Ensalada de hojas con aguacate, mango, frutos secos, y vinagreta de miel y mostaza antigua</p>
            <p>- Burratina con pesto de albahaca, pistacho y tomate confitado</p>
            <p>- Timbal de escalivada con queso de cabra caramelizado y salsa romesco casera</p>
            <p>- Rollo crujiente al horno con queso taleggio fundido, rúcula, olivada y tomates secos</p>
            <p>- Canelones de carne asada y setas, con crema trufada y dulce de piquillos</p>
            <p>- Huevos de corral estrellados con patatas fritas, jamon ibérico y virutas de foie</p>
            <p>- Carpaccio de lomo de vaca madurado, con Idiazábal, piñones y vinagreta de fresones y lima</p>
            <p>- Tacos de confit de pato con trufa, foie, crema agria y jalapeños</p>
            <h4>Principal a elegir</h4>
            <p>- Corte Argentino de tenera a la plancha con patatas fritas, padrones, y salsa de queso Idiazábal</p>
            <p>- Steak tartar de tenera, yema de huevo, mostaza de hierbas y tostaditas</p>
            <p>- Cordero a baja temperatura con parmentier, setas, y salsa de miel y romero (suplemento 2€)</p>
            <p>- Costillar de cerdo lacado con salsa barbacoa casera y patatas fritas</p>
            <p>- Fish & Chips de lomo de bacalao de Islandia con chutney de mango y salsa tártara</p>
            <p>- Tataki de atún con aguacate, pico de gallo y salsa ponzu</p>
            <p>- Pulpo a la parrilla con patatas confitadas y pimentón (suplemento 3€)</p>
            <p>- Filetes de lubina fresca a la plancha con verduritas y salsa de maracuyá</p>
            <p>- Hamburguesa vegetariana de remolacha y soja con salsa tzatiki y pan artesano de cerveza negra</p>
            <p>- Arroz marinero con sepia y gamba de Huelva (mínimo 2 personas) 25 minutos (suplemento 5€)</p>
            <p>- Puede elegir como principal cualquiera de los platos que figuran como entrantes</p>
            <h4>Postres a elegir</h4>
            <p>- Crema catalana</p>
            <p>- Flan de coco</p>
            <p>- Cheese cake con coulis de frutos rojos (suplemento 0,75)</p>
            <p>- Lemon pot pie con crumble de galleta</p>
            <p>- Coulant de chocolate con helado (suplemento 0,75)</p>
            <p>- Trufas artesanas de chocolate con un chupito a su elección</p>
            <p>- 2 bolas de helado al gusto (pide al camarero por los sabores del día)</p>
            <p>- Puedes cambiar tu postre por café, infusión o té</p>
        </div>
    </div>
</div>