<%= render 'shared/navbar' %>
<div class="banner">
</div>
<div class="header-home">
    <h2>9 Granados</h2>
    <h5>Restaurante</h5>
</div>
<div class="main-container mt-3">
    <p style="font-size: 14px; margin-top: 40px;">
        ¡Bienvenidos! Estamos trabajando cada día para ofrecerles una gran experiencia, y
        tomando las medidas de seguridad necesarias para el cuidado de nuestros clientes y nuestro personal. Gracias por elegirnos!
    </p>
    <div class="green-button-position">
        <div class="green-button">
            <%= link_to "Nuestras cartas", menus_path%>
        </div>
    </div>
</div>