<%= render 'shared/navbar' %>
<div class="banner">
</div>
<div class="header">
    <h2>9 Granados</h2>
    <h5>Restaurante</h5>
</div>
    <div class="flag-container">
        <div class="flag-box">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146282/Nou%20granados/Flags/catalonia_rvcrss.png" alt="">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/Spain_yx31ax.png" alt="">
        </div>
        <div class="flag-box ">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/England_cnldoa.png" alt="">
            <img class="flag" src="https://res.cloudinary.com/dfyhqslry/image/upload/v1594146742/Nou%20granados/Flags/France_nf8v8a.png" alt="">
        </div>
    </div>