<%= render 'shared/navbar' %>
<div class="banner">
</div>
<div class="header-home">
    <h2>9 Granados</h2>
    <h5>Restaurante</h5>
</div>
<div class="main-container mt-3">
    <div class="welcome">
        <p><%= t('home.hello') %></p>
    </div>
    <div class="green-button-position">
        <div class="green-button">
            <%= link_to t('home.menus'), menus_path%>
        </div>
    </div>
</div>
