<%= render 'shared/navbar' %>
<div class="banner">
</div>
<div class="header mt-0">
    <h2>9 Granados</h2>
    <h5>Restaurante</h5>
</div>
<div class="main-container">
    <p style="font-size: 14px;">
        ¡Bienvenidos al 9 Granados! Estamos trabajando cada día para ofrecerles la mejor experiencia, y
        tomando las medidas de seguridad necesarias para el cuidado de nuestros clientes y nuestro personal. Gracias
        por elegirnos!
    </p>
    <div class="red-button-position">
        <div class="red-button">
            <%= link_to "Nuestras cartas", menus_path%>
        </div>
    </div>
</div>