.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  height: 65px;
  z-index: 50;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.150);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item .nav-links:hover {
  color: $green;
}

.navbar-brand {
  padding: 0;
}

.dropdown-menu {
  margin: 0px !important;
  top: 99% !important;
}

.dropdown-item a:hover {
  background-color:$pink;
  color:white;
}

.dropdown-item:active {
  background-color:$pink;
  color:white;
}

.navbar {
  padding: 0rem 1rem;
  margin-bottom: 0px !important;
}

.navbar-meals {
  justify-content: space-between;
  // position: sticky;
  position: fixed;
  bottom: 0;
  height: 88px;
  z-index: 50;
  background: #76b18a;
}