.tab-menu {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}
.nav-item {
    color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    justify-content: center;

    .nav-link  {
     color: white;
     font-weight: 600;
     font-size: 16px;
     border-radius: 0;
     text-align: center;
    //  width: 100%;
    }
    .nav-link.active {
      color: white;
      background-color: #689778;
      //  width: 100%;
    }
}