.tab-menu {
  // justify-content: space-around;
  overflow: auto;
  // white-space: nowrap;
  display: flex;
}
.nav-item {
    color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    .nav-link  {
     color: white;
    //  border: solid black 1px;
    text-align: center;
     font-weight: 600;
     font-size: 18px;
     border-radius: 0;
    }
    .nav-link.active {
      color: white;
      background-color: #689778;
    }
}